
body{

    font-family: 'Shantell Sans';

    background: rgb(250, 233, 241);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, #94bbe9 100%);
    padding: 120;
    margin: 120;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    
    
    h1{
        font-size: 75px;
    
    transition-property: transform, color;
    transition-duration: 0.5s;
    transition-timing-function: ease;
    transition-delay: 5s;
    transform-origin: center;
    color: whitesmoke;
    font-family: 'shantell Sans';

    }


    
    

    .page2{
        color: rgb(104, 19, 195);
        transition-property: opacity,width;
        transition-timing-function: ease;
        transition-delay: 0;
        transform: scale(5);
        font-family: 'Shantell Sans', cursive;
        text-decoration: none;
        

    }

    .fade-in-text {
        font-family: 'Shantell Sans', cursive;
        font-size: 150px;
        animation: fadeIn 5s;
      }

    h2{
        font-size: 70px;
        position: absolute;
        top: 50%;
        left: 50%;
        width: 50%;
        transition: width 2s;
        color: whitesmoke;
        font-family: 'shantell Sans';
    }

    .wave-text span {
      display: inline-block;
      font-size: 4rem;
      animation: wave 2s ease-in-out infinite;
  }
  
  .wave-text span:nth-child(1) {
      animation-delay: 0s;
  }
  .wave-text span:nth-child(2) {
      animation-delay: 0.2s;
  }
  .wave-text span:nth-child(3) {
      animation-delay: 0.4s;
  }
  .wave-text span:nth-child(4) {
      animation-delay: 0.6s;
  }
  
  
  
  


    /* Page 2 */

    .slide-right {
        width: 100%;
        overflow: hidden;
        margin-left: 300px;
      }
      
      .slide-right h3 {
        animation: 1s slide-right 1s forwards;
          transform:translateX(-100%);
      }

      
    h3{

        font-size: 75px;
    
    transition-property: transform, color;
    transition-duration: 0.5s;
    transition-timing-function: ease;
    transition-delay: 5s;
    transform-origin: center;
    color: whitesmoke;
    font-family: 'shantell Sans';

   

    }
    .glow  {
        color: #ef73f1;
        text-align: center;
        animation: glow 1s ease-in-out infinite alternate;
        display: inline-block;

    }
    .page3{
        color: rgb(104, 19, 195);
        transition-property: all;
        transition-duration: 10s;
        transition-timing-function: ease;
        transition-delay: 0ms;
        transform: scale(5);
        font-family: 'Shantell Sans', cursive;
        text-decoration: none;
        
        
    }


    





           /* Page 3 */
 


           
    
           h4{

            font-size: 75px;
        
        transition-property: transform, color;
        transition-duration: 0.5s;
        transition-timing-function: ease;
        transition-delay: 5s;
        transform-origin: center;
        color: whitesmoke;
        font-family: 'shantell Sans';
        }
        .glow2  {
            color: #ef73f1;
            text-align: center;
            animation: glow 1s ease-in-out infinite alternate;
        }

        .shadow-dance {
            font-size: 4rem;
            color: #fff;
            text-shadow: 5px 5px 0 #ef73f1, 10px 10px 0 #005c6e;
            animation: shadow-dance 2s infinite;
        }


        #spinner {
          animation-name: spinner;
          display: inline-block;
          animation-timing-function: linear;
          animation-iteration-count:infinite;
          animation-duration: 5s;
          transform-style: preserve-3d;
        }


        .page4{
            color: rgb(104, 19, 195);
            transition-property: all;
            transition-duration: 10s;
            transition-timing-function: ease;
            transition-delay: 0ms;
            transform: scale(5);
            font-family: 'Shantell Sans', cursive;
            text-decoration: none;
    
        }



}

   /* Page 4 */

   h5{

    font-size: 75px;

transition-property: transform, color;
transition-duration: 0.5s;
transition-timing-function: ease;
transition-delay: 5s;
transform-origin: center;
color: whitesmoke;
font-family: 'shantell Sans';
}

.page5{
    color: rgb(104, 19, 195);
    transition-property: all;
    transition-duration: 10s;
    transition-timing-function: ease;
    transition-delay: 0ms;
    transform: scale(5);
    font-family: 'Shantell Sans', cursive;
    text-decoration: none;
    


}

#spinner2 {
  color: #ef73f1;
  animation-name: spinner;
  display: inline-block;
  animation-timing-function: linear;
  animation-iteration-count:infinite;
  animation-duration: 5s;
  transform-style: preserve-3d;
}


/*Page 5 */


.backhome{
  color: rgb(104, 19, 195);
  transition-property: all;
  transition-duration: 10s;
  transition-timing-function: ease;
  transition-delay: 0ms;
  transform: scale(5);
  font-family: 'Shantell Sans', cursive;
  text-decoration: none;
}

h6 {
  font-size: 75px;
  color: whitesmoke;
  font-family: 'shantell Sans';
  text-align: center;
  background: linear-gradient(to right, #ffffff 0, rgb(177, 113, 245), #ffffff );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: animate 7s linear infinite;


}


  
  .wave-text span {
    display: inline-block;
    font-size: 4rem;
    animation: wave 2s ease-in-out infinite;
}

.wave-text span:nth-child(1) {
    animation-delay: 0s;
}
.wave-text span:nth-child(2) {
    animation-delay: 0.2s;
}
.wave-text span:nth-child(3) {
    animation-delay: 0.4s;
}
.wave-text span:nth-child(4) {
    animation-delay: 0.6s;
}



   /* Keyframes */

   @keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  @keyframes slide-right {
    to {
      transform:translateX(0);
    }
  }

  @keyframes glow {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
    }
    
    to {
      text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
    }
  }

  @keyframes shadow-dance {
    0%, 100% {
        text-shadow: 5px 5px 0 #ef73f1, 10px 10px 0 #005c6e;
    }
    50% {
        text-shadow: -5px -5px 0 #ef73f1, 10px 10px 0 #1990a8;
    }

}


@keyframes spinner {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(-360deg);
  }
}
@keyframes spinner2 {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(-360deg);
  }
}


@keyframes wave {
  0%, 100% {
      transform: translateY(0);
  }
  50% {
      transform: translateY(-20px);
  }
}

@keyframes  animate {
  0% {
    background-position: 0;
  }
  50% {
    background-position: 470px;
  }
  100% {
    background-position: 470px;
  }
}